/* 공통디자인 common.css */
/* header, footer */
body {}
#wrap {}
#wrap header {
    background-color: rgba(0, 0, 0, 0.9);
    height: 70px;
    padding: 0 80px;
    min-width: 1220px; /* 최소너비 제한 */
    display: flex; /* 자식인 h1과 nav 정렬 */
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    /* 스크롤이동시 헤더 고정 */
    position: fixed; left: 0; top: 0; z-index: 999; width: 100%;
}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {}
#wrap header nav #gnb {
    display: flex; /* 자식인 li 정렬 */
    flex-flow: row nowrap; gap: 20px;
}
#wrap header nav #gnb > li {
    position: relative;/* 첫번째 서브(gnb_depth2)의 기준 */
}
#wrap header nav #gnb a:hover {color: rgb(255, 251, 0) !important;} /* gnb의 공통 a // 강제우선순위 : ; 앞 !important */ 
#wrap header nav #gnb > li:hover .gnb_depth2 {display: block;}
#wrap header nav #gnb > li > a {
    color: #fff;
    line-height: 70px; display: block;
}
#wrap header nav #gnb > li > .gnb_depth2 {
    background-color: rgb(114, 0, 0);
    position: absolute;
    width: 160px;
    left: 50%; transform: translateX(-50%); /* <- absolute가 들어간 상태에서 부모x축 정중앙에 맞추기 */
    display: none;
}
#wrap header nav #gnb > li > .gnb_depth2 > li {}
#wrap header nav #gnb > li > .gnb_depth2 > li > a {
    color: #fff; text-align: center;
    display: block; line-height: 46px;
}
#wrap header nav #gnb > li > .gnb_depth2 > li:hover .gnb_depth3 {display: block;}
#wrap header nav #gnb > li > .gnb_depth2 > li > .gnb_depth3 {
    background-color: rgb(83, 22, 22);
    display: none;
}
#wrap header nav #gnb > li > .gnb_depth2 > li > .gnb_depth3 li {}
#wrap header nav #gnb > li > .gnb_depth2 > li > .gnb_depth3 li a {
    color: #ddd; text-align: center;
    display: block; line-height: 46px;
}
/* ================================================footer */
#wrap footer {}
#wrap footer p {}