/* index.css */
#wrap main {}
#wrap main #hero_bnr {
    min-width: 1220px;
    width: 100%; height: 830px;
    background-image: url(../img/hero_01.png);
    background-size: cover;
    background-position: center;
}
#wrap main #hero_bnr .ad_txt {
    text-align: center;
    padding-top: 560px;
}
#wrap main #hero_bnr .ad_txt p {
    font-size: 1.88rem;
    font-weight: 600;
}
#wrap main #hero_bnr .ad_txt h1 {
    font-size: 3.13rem;
    font-weight: 700;
}
#wrap main #hero_bnr .ad_txt p,
#wrap main #hero_bnr .ad_txt h1 {
    /* text-shadow: : x y 흐림색상; */
    text-shadow: 0 4px 4px rgba(0,0,0,25%);
    font-family: 'noto sans kr', sans-serif;
    color: #fff;
    line-height: 150%;
}
#wrap main #hero_bnr #reservation_form {
    background-color: rgba(255, 255, 255, 80%);
    width: 1084px;
    margin: 0 auto;
    padding: 36px 28px;
    border-radius: 20px;
    display: flex; /* 객실~체크인아웃~인원~검색~자식들 정렬 flex */
}
/* ---------------------------------------------------객실~인원 공통디자인1 */
#wrap main #hero_bnr #reservation_form .room h2,
#wrap main #hero_bnr #reservation_form .check_in_out .in h2,
#wrap main #hero_bnr #reservation_form .check_in_out .out h2,
#wrap main #hero_bnr #reservation_form .person h2 {
    background-color: bisque;
}
#wrap main #hero_bnr #reservation_form h2+div,
#wrap main #hero_bnr #reservation_form ul li {
    background-color: aqua;
}
/* ---------------------------------------------------객실선택 */
#wrap main #hero_bnr #reservation_form .room {}
#wrap main #hero_bnr #reservation_form .room h2 {}
#wrap main #hero_bnr #reservation_form .room .roon_type {}
#wrap main #hero_bnr #reservation_form .room .roon_type > a {}
#wrap main #hero_bnr #reservation_form .room .roon_type > a a {}
#wrap main #hero_bnr #reservation_form .room .roon_type > a a .name {}
#wrap main #hero_bnr #reservation_form .room .roon_type > a a .name span {}
#wrap main #hero_bnr #reservation_form .room .roon_type > a img {}
#wrap main #hero_bnr #reservation_form .room .roon_type .room_open {}
#wrap main #hero_bnr #reservation_form .room .roon_type .room_open > a {}
#wrap main #hero_bnr #reservation_form .room .roon_type .room_open > a a {}
#wrap main #hero_bnr #reservation_form .room .roon_type .room_open > a a .name {}
#wrap main #hero_bnr #reservation_form .room .roon_type .room_open > a a .name span {}
#wrap main #hero_bnr #reservation_form .check_in_out {}
#wrap main #hero_bnr #reservation_form .check_in_out .in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in > a {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in > a a {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in > a a span {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in > a a img {}
#wrap main #hero_bnr #reservation_form .check_in_out .day {}
#wrap main #hero_bnr #reservation_form .check_in_out .day img {}
#wrap main #hero_bnr #reservation_form .check_in_out .day em {}
#wrap main #hero_bnr #reservation_form .check_in_out .out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out h2 {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out > a {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out > a a {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out > a a span {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out > a img {}
#wrap main #hero_bnr #reservation_form .person {}
#wrap main #hero_bnr #reservation_form .person h2 {}
#wrap main #hero_bnr #reservation_form .person .number {}
#wrap main #hero_bnr #reservation_form .person .number li {}
#wrap main #hero_bnr #reservation_form .person .number li .number_btn {}
#wrap main #hero_bnr #reservation_form .person .number li #adult_add {}
#wrap main #hero_bnr #reservation_form .person .number li #adult_add img {}
#wrap main #hero_bnr #reservation_form .person .number li span {}
#wrap main #hero_bnr #reservation_form .person .number li span label {}
#wrap main #hero_bnr #reservation_form .person .number li span #adult {}
#wrap main #hero_bnr #reservation_form .person .number li span #child{}
#wrap main #hero_bnr #reservation_form .person .number li #adult_remove {}
#wrap main #hero_bnr #reservation_form .person .number li #adult_remove img {}
#wrap main #hero_bnr #reservation_form .person .number li #child_add {}
#wrap main #hero_bnr #reservation_form .person .number li #child_add img {}
#wrap main #hero_bnr #reservation_form .person .number li #child_remove {}
#wrap main #hero_bnr #reservation_form .person .number li #child_remove img{}
#wrap main #hero_bnr #reservation_form > p {
    background-color: blue;
}
#wrap main #hero_bnr #reservation_form > p #search_btn {
    color: #fff;
}
#wrap main #hero_bnr #reservation_form > p #search_btn img {}