/* index.css */
#wrap main {}
#wrap main #hero_bnr {
    min-width: 1220px;
    width: 100%; height: 830px;
    background-image: url(../img/hero_01.png);
    background-size: cover;
    background-position: center;
}
#wrap main #hero_bnr .ad_txt {
    text-align: center;
    padding-top: 560px;
}
#wrap main #hero_bnr .ad_txt p {
    font-size: 1.88rem;
    font-weight: 600;
}
#wrap main #hero_bnr .ad_txt h1 {
    font-size: 3.13rem;
    font-weight: 700;
}
#wrap main #hero_bnr .ad_txt p,
#wrap main #hero_bnr .ad_txt h1 {
    /* text-shadow: : x y 흐림색상; */
    text-shadow: 0 4px 4px rgba(0,0,0,25%);
    font-family: 'noto sans kr', sans-serif;
    color: #fff;
    line-height: 150%;
}
#wrap main #hero_bnr #reservation_form {
    background-color: rgba(255, 255, 255, 80%);
    width: 1084px;
    margin: 0 auto;
    padding: 36px 28px;
    border-radius: 20px;
    display: flex; /* 객실~체크인아웃~인원~검색~자식들 정렬 flex */
    flex-flow: row nowrap; /* 메인축 수평 */
    justify-content: space-between; /* 메인축 수평 양쪽끝 배치 */
    align-items: flex-end; /* 교차축(수직) 아래 */
}
/* ---------------------------------------------------객실~인원 공통디자인1 */
#wrap main #hero_bnr #reservation_form .room h2,
#wrap main #hero_bnr #reservation_form .check_in_out .in h2,
#wrap main #hero_bnr #reservation_form .check_in_out .out h2,
#wrap main #hero_bnr #reservation_form .person h2 {
}
#wrap main #hero_bnr #reservation_form h2+div,
#wrap main #hero_bnr #reservation_form ul li {}
/* ---------------------------------------------------객실선택 */
#wrap main #hero_bnr #reservation_form .room {}
#wrap main #hero_bnr #reservation_form .room h2 {margin-bottom: 11px;}
#wrap main #hero_bnr #reservation_form .room .room_type {
    font-size: 0.88rem;
    position: relative; /* .room_open 기준 */
}
#wrap main #hero_bnr #reservation_form .room .room_type > a,
#wrap main #hero_bnr #reservation_form .room .room_type .room_open > a {
    /* 포사이드방 */
    background-color: #fff;
    width: 150px; height: 40px;
    display: flex;
    /* flex 설정시 형제끼리 크기 맞추는 자동설정때문에 이미지 비율이 망가져보일 수 있음 -> 메인, 교차축 설정 적용하면 해결됨 */
    border: 1px solid #ddd; border-radius: 8px;
    align-items: center; justify-content: space-between;
    padding-left: 10px;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a {}
#wrap main #hero_bnr #reservation_form .room .room_type > a .name {}
#wrap main #hero_bnr #reservation_form .room .room_type > a .name span {
    font-size: 0.69rem;
    color: #9E9D9D;
    margin-left: 3px;
}
#wrap main #hero_bnr #reservation_form .room .room_type > a img {}
#wrap main #hero_bnr #reservation_form .room .room_type:hover .room_open {display: block;}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open {
    position: absolute; /* absolute 설정 시 기존 태그 크기가 인라인-블록처럼 바뀜 */
    left:0; top:40px;
    display: none;
}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open > a {
    display: flex; flex-flow: row wrap;
}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open > a .name {}
#wrap main #hero_bnr #reservation_form .room .room_type .room_open > a .name span {
    font-size: 0.69rem;
    color: #9E9D9D;
    margin-left: 3px;
}
#wrap main #hero_bnr #reservation_form .check_in_out {
    display: flex; flex-flow: row nowrap; /* !!! 필수: 메인축방향, 줄바꿈처리 - flex-flow */
    gap: 28px;
}
#wrap main #hero_bnr #reservation_form .check_in_out .in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in h2 {margin-bottom: 11px;}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in > a {
    background-color: #fff;
    width: 150px; height: 40px;
    display: flex; flex-flow: row nowrap;
    border: 1px solid #ddd; border-radius: 8px;
    align-items: center; justify-content: space-between;
    padding-left: 10px;
    font-size: 0.88rem;
}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in > a span {}
#wrap main #hero_bnr #reservation_form .check_in_out .in .chk_in > a img {}
#wrap main #hero_bnr #reservation_form .check_in_out .day {
    display: flex; flex-flow: column wrap; justify-content: center;
    text-align: center;
}
#wrap main #hero_bnr #reservation_form .check_in_out .day img {
    margin-bottom: 7px;
}
#wrap main #hero_bnr #reservation_form .check_in_out .day em {
    font-size: 0.88rem;
}
#wrap main #hero_bnr #reservation_form .check_in_out .out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out h2 {margin-bottom: 11px;}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out > a {
    background-color: #fff;
    width: 150px; height: 40px;
    display: flex; flex-flow: row nowrap;
    border: 1px solid #ddd; border-radius: 8px;
    align-items: center; justify-content: space-between;
    padding-left: 10px;
    font-size: 0.88rem;
}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out > a span {}
#wrap main #hero_bnr #reservation_form .check_in_out .out .chk_out > a img {}
#wrap main #hero_bnr #reservation_form .person {}
#wrap main #hero_bnr #reservation_form .person h2 {margin-bottom: 11px;}
#wrap main #hero_bnr #reservation_form .person .number {
    display: flex; flex-flow: row nowrap;
    gap: 12px;
}
#wrap main #hero_bnr #reservation_form .person .number li:first-child {}
#wrap main #hero_bnr #reservation_form .person .number li {
    background-color: #fff;
    width: 150px; height: 40px;
    display: flex; flex-flow: row nowrap;
    border: 1px solid #ddd; border-radius: 8px;
    align-items: center; justify-content: space-between;
    font-size: 0.88rem;
    padding: 0 4px;
}
/* 마우스그룹------- */
#wrap main #hero_bnr #reservation_form .person .number li .number_btn {
    width: 24px; height: 24px;
}
#wrap main #hero_bnr #reservation_form .person .number li #adult_add:hover,
#wrap main #hero_bnr #reservation_form .person .number li #child_add:hover,
#wrap main #hero_bnr #reservation_form .person .number li #adult_remove:hover,
#wrap main #hero_bnr #reservation_form .person .number li #child_remove:hover {
    background-color: aquamarine;
}
/* -----------------인원 공통 */
#wrap main #hero_bnr #reservation_form .person .number li span {}
#wrap main #hero_bnr #reservation_form .person .number li span label {}
#wrap main #hero_bnr #reservation_form .person .number li span input { width: 23px; text-align: center;}
/* -----------------성인 그룹 */
#wrap main #hero_bnr #reservation_form .person .number li span #adult {}
#wrap main #hero_bnr #reservation_form .person .number li #adult_add {}
#wrap main #hero_bnr #reservation_form .person .number li #adult_add img {}
#wrap main #hero_bnr #reservation_form .person .number li #adult_remove {}
#wrap main #hero_bnr #reservation_form .person .number li #adult_remove img {}
/* -----------------어린이 그룹 */
#wrap main #hero_bnr #reservation_form .person .number li span #child {}
#wrap main #hero_bnr #reservation_form .person .number li #child_add {}
#wrap main #hero_bnr #reservation_form .person .number li #child_add img {}
#wrap main #hero_bnr #reservation_form .person .number li #child_remove {}
#wrap main #hero_bnr #reservation_form .person .number li #child_remove img{}
/* -----------------검색버튼 */
#wrap main #hero_bnr #reservation_form > p {}
#wrap main #hero_bnr #reservation_form > p #search_btn {
    background-color: rgb(0, 0, 0);
    color: #fff;
    width: 74px; height: 40px;
    border-radius: 8px;
    font-size: 0.88rem;
    display: flex; flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
#wrap main #hero_bnr #reservation_form > p #search_btn img {
    margin-right: 5px;
    width: 12px; height: 12px;
}
/* =====================메인 */
/* ------------------------------------호랑가시나무언덕 소개 */
#wrap main #yanglim {
    background-color: #F5F5F5;
}
#wrap main #yanglim .container_layout {}
#wrap main #yanglim .container_layout h1 {}
#wrap main #yanglim .container_layout p,
#wrap main #local .container_layout p {
    font-size: 0.94rem;
    line-height: 170%;
}
#wrap main #yanglim .container_layout p {}
#wrap main #yanglim .container_layout img {}
/* ------------------------------------주변관광지 소개 */
#wrap main #local {
    background-color: #fff;
}
#wrap main #local .container_layout {}
#wrap main #local .container_layout h1 {}
#wrap main #local .container_layout p {}
#wrap main #local .local_place {
    display: flex; flex-flow: row wrap;
    justify-content: space-between;
    width: calc((100% / 4 ) - 60) ;
}
#wrap main #local .local_place li {
    display: flex; flex-flow: column nowrap;
    gap: 10px;
}
#wrap main #local .local_place li .local_img {
    width: 290px; height: 250px;
    overflow: hidden;
}
#wrap main #local .local_place li .local_img img:hover {width: 130%;}
#wrap main #local .local_place li .local_img img {width: 100%;}
#wrap main #local .local_place li em {
font-size: 1.13rem; font-weight: 500;
}
#wrap main #local .link_container .local_link {}
#wrap main #local .link_container .local_link {
    display: block;
    width: max-content;
    border-bottom: 1px #000 solid;
    margin: 0 auto;
}
/*     text-decoration: underline; 밑줄과 글자사이 여백불가능 */
/* ------------------------------------객실 및 예약안내 */
#wrap main #room {
    background-color: #F5F5F5;
}
#wrap main #room .container_layout {
}
#wrap main #room .container_layout h1 {}
#wrap main #room .container_layout p {}
#wrap main #room .container_layout .room_list {
    display: flex; flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: calc((100% / 4 ) - 60) ;
}
#wrap main #room .container_layout .room_list li {
    display: flex; flex-flow: column nowrap;
    gap: 10px;
}
#wrap main #room .container_layout .room_list li:first-child img {
    width: 500px;
}
#wrap main #room .container_layout .room_list li img {
    width: 220px; overflow: hidden;
}
#wrap main #room .container_layout .room_list li em {
    font-size: 1.13rem; font-weight: 500;
}
#wrap main #room .container_layout .room_list li p {
    font-size: 0.88rem; font-weight: 400; line-height: 1.7;
}
#wrap main #room .link_container {}
#wrap main #room .link_container .resa_link {
    display: block;
    width: max-content;
    border-bottom: 1px #000 solid;
    margin: 0 auto;
}
/* ------------------------------------오시는길 */
#wrap main #map {
    background-color: #fff;
}
#wrap main #map .container_layout {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    padding: 70px 0 0 0;
}
#wrap main #map .container_layout h1 {}
#wrap main #map .container_layout p {}
#wrap main #map #map_zone {
    width: 1220px; margin:0 auto;
}
#wrap main #map #map_zone .map_link {}
#wrap main #map #map_zone .map_link img {}
#wrap main #map #map_zone .transport {
    padding: 30px 0 70px 0;
}
#wrap main #map #map_zone .transport .bus,
#wrap main #map #map_zone .transport .subway {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8;
}
#wrap main #map #map_zone .transport .bus {}
#wrap main #map #map_zone .transport .subway {
    margin-top: 30px;
}
#wrap main #map #map_zone .transport dd {
    font-size: 0.938rem;
    line-height: 1.8;
}
/* ------------------------------------footer */
#wrap footer {
    background-color: #000;
    padding: 70px 0;
}
#wrap footer address {
    color: #fff;
    font-size: 0.8125rem;
    line-height: 2.0;
    width: 1220px; margin:0 auto;
}